{% extends "base.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
<div class="container-shadow full">
    <div class="profile-background user-background" 
    {% if user.background %}
        style="background-image: url({{ user.background }});"
    {% endif %}
    ></div>

    <div class="profile-info flex-display">
        <div class="profile-info-left flex-display">
            
            <div class="profile-avatar user-avatar" 
            {% if user.avatar %}
                style="background-image: url({{ user.avatar }});"
            {% endif %}
            ></div>

            <div class="profile-details">
                <h2 class="profile-username clear-margin">{{ user.username }}</h2>
                <p class="clear-margin">Группа</p>
            </div>
        </div>
        <div class="profile-info-right">
            {% if user.id == current_user.id %}
                <a href="{{ url_for('profile_settings') }}">Настройки профиля</a>
            {% endif %}
        </div>
    </div>
    <div>
        <p>{{ user.about }}</p>
        <h2>Записи {{ user.username }}</h2>
        {% for article in user.articles %}
            <div class="article-item">
                <a href="{{ url_for('detail_article', id=article.id) }}">{{ article.name }}</a>
                <div class="article-item-info">
                    <div class="secondary-color litlle">
                        {{ article.datetime }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}