{% macro getList(articles) -%}
    {% for article in articles %}
        <div class="article-item">
            <a href="{{ url_for('detail_article', id=article.id) }}">{{ article.name }}</a>
            <div class="article-item-info">
                <div class="secondary-color litlle">
                    Оцінка: {{ article.rating }}
                </div>
                <div class="secondary-color litlle">
                    {{ article.datetime }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}