@import url(./highlight/styles/stackoverflow-dark.min.css);
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


html {
    font-family: var(--font) !important;
}

:root { 
    /* Font colors */
    --font-color: #ffffff;
    --font-secondary-color: #8d8d8d;
    --font-color-hover: #a9d0ff;
    --font: 'PT Sans', sans-serif;

    /* Background colors */
    --background: url(background.png);
    --background-color: #202020;
    --background-secondary-color: #2c2c2c;
    --background-submit: #3f5240;

    /* Effects colors */
    --shadows-color: #00000083;
    --box-border-radius: 3px;
    --animation-speed: 0.25s;
    --scroll-color: var(--background-secondary-color);

    --profile-avatar: url(profile_avatar.jpg);
    --profile-background: url(profileBackground.png);
}