@media (max-width: 650px) {
    body {
        margin: 0 20px !important;
        padding: 0;
    }

    .main-container-about-items > *:not(:last-child) {
        margin-right: 0 !important;
        margin-bottom: 20px;
    }

    .main-container-about {
        margin-top: 10px !important;
    }

    .navbar-item:not(.navbar-item-logo) {
        display: none !important;
    }

    .main-container-about-items {
        display:block !important;
    }
}