@media (max-width: 770px) {
    body {
        margin: 0 20px !important;
        --body-margin: 20px !important;
        padding: 0;
    }
    
    .main-container {    
        margin: 0 -10px !important;
        margin-top: 60px !important;
    }

    .main-container-about-items > *:not(:last-child) {
        margin-right: 0 !important;
        margin-bottom: 10px;
    }

    .main-container-about {
        margin-top: 10px !important;
    }

    .navbar-item:not(.navbar-item-logo):not(.more) {
        display: none !important;
    }

    .navbar-item.more {
        margin-right: 0 !important;
        display: block !important;
        font-size: 24px !important;
    }

    .main-container-about-items {
        display:block !important;
    }
    
    .additional-information {
        display: none;
    }
}