@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@import url(./params.css);
@import url(./small.css);
@import url(./medium.css);

html {
    font-family: 'PT Sans', sans-serif !important;
}

body {
    --body-margin: 80px;
    margin: 0 var(--body-margin);
    font-size: 1em;
    color: var(--font-color);
    padding: 0px;
    background: var(--background);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

code {
    padding: 10px;
    border-radius: var(--box-border-radius) !important;
    box-shadow: var(--shadows-color) 0 0 5px 0;
}

.flex-display {
    display: flex;
}

.flex-space-between {
    justify-content: space-between;
    align-items: center;
}

.clear-ul {
    list-style: none;
    padding: 0;
} 

.clear-ul > *:not(:last-child) {
    margin-bottom: 5px;
}

.avatar {
    margin-left: 10px;
    background-color: var(--background-secondary-color);
    border-radius: 100%;
    width: 64px;
    height: 64px;
}

small {
    font-size: 16px;
}

.nickname {
    font-size: 22px;
    margin-bottom: 0px !important;
}

.secondary-color {
    color: var(--font-secondary-color) !important;
}

body::-webkit-scrollbar {
    width: 12px;               
}

body::-webkit-scrollbar-track {
    background: var(--background-color);        
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);    
    border-radius: var(--box-border-radius);       
    border: 0px;  
}

.container-shadow {
    background-color: var(--background-color) !important;
    padding: 10px 20px !important;
    border-radius: var(--box-border-radius);
    box-shadow: var(--shadows-color) 0 0 10px 0;
    height: fit-content;
}

.navbar-main {
    display: flex;
    justify-content: space-between;
    margin: 0 calc(var(--body-margin) * -1);
    padding: 0 var(--body-margin);
}

.navbar-container {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
    align-items: flex-end;
}

.navbar-item:not(:last-child) {
    margin-right: 15px;
}

.navbar-item-logo {
    font-size: 26px !important;
    margin-bottom: -2px;
    margin-right: 25px !important;
}

.navbar-item {
    font-size: 18px;
}

.navbar-item:not(.navbar-item-logo) > a {
    color: var(--font-secondary-color);
}

.main-container {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}

.main-container-flex {
    display: flex;
}

.main-container-about-items {
    display: flex;
}

.main-container-about-items > *:not(:last-child) {
    margin-right: 20px;
}

.main-container-about-items > * {
    padding: 5px 20px;
    background-color: var(--background-secondary-color);
    box-shadow: var(--shadows-color) 0 0 5px 0;
    border-radius: var(--box-border-radius);
}

.article-link {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.container-sticky {
    position: sticky;
    top: 0;
}

.container-info > *:not(:last-child) {
    margin-bottom: 10px;
}

a {
    color: var(--font-color);
    text-decoration: none;
    transition: color var(--animation-speed) ease-in;
}

.footer {
    margin: 10px 0;
    text-align: center;
}

.litlle {
    font-size: 14px;
}

li.article {
    list-style: outside;
    margin-left: 15px;
}

.additional-information {
    margin-right: 10px;
}

a:hover {
    transition: all var(--animation-speed) ease-in;
    color: var(--font-color-hover) !important;
}