@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@import url(./basics.css);

@import url(./navbar.css);
@import url(./profiles.css);

@import url(./params.css);
@import url(./small.css);
@import url(./medium.css);

html {
    font-family: 'PT Sans', sans-serif !important;
}

body {
    --body-margin: 80px;
    margin: 0 var(--body-margin);
    font-size: 1em;
    color: var(--font-color);
    padding: 0px;
    background: var(--background);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

code {
    padding: 10px;
    border-radius: var(--box-border-radius) !important;
    box-shadow: var(--shadows-color) 0 0 5px 0;
}

select {
    background: var(--background-secondary-color);
    color: var(--font-color);
    border: 0;
    padding: 3px;
    margin: 5px 0;
    font-size: 1em;
}

select:focus-visible, input:focus-visible, textarea:focus-visible {
    outline: 0;
}

#submit {
    padding: 10px;
    background: var(--background-submit);
}

.nickname {
    font-size: 22px;
    margin-bottom: 0px !important;
}

body::-webkit-scrollbar {
    width: 12px;               
}

body::-webkit-scrollbar-track {
    background: var(--background-color);        
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);    
    border-radius: var(--box-border-radius);       
    border: 0px;  
}

.container-shadow {
    background-color: var(--background-color) !important;
    padding: 10px 20px !important;
    border-radius: var(--box-border-radius);
    box-shadow: var(--shadows-color) 0 0 10px 0;
    height: fit-content;
}

#sticky-content {
    transition: padding-top 0.25s;
}

#sticky-content.sticky-content-start {
    padding-top: 75px;
    transition: padding-top 0.25s;
}

.main-container {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}

.main-container-flex {
    min-height: 81vh;
    display: flex;
}

.main-container-about-items {
    display: flex;
}

.main-container-about-items > *:not(:last-child) {
    margin-right: 20px;
}

.main-container-about-items > * {
    padding: 5px 20px;
    background-color: var(--background-secondary-color);
    box-shadow: var(--shadows-color) 0 0 5px 0;
    border-radius: var(--box-border-radius);
}

.article-link {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.container-sticky {
    position: sticky;
    top: 0;
}

.container-info > *:not(:last-child) {
    margin-bottom: 10px;
}

a {
    color: var(--font-color);
    text-decoration: none;
    transition: color var(--animation-speed) ease-in;
}

.footer {
    margin: 10px 0;
    text-align: center;
}

.error {
    font-size: 14px;
    color: red;
}

input {
    padding: 5px;
    background: var(--background-secondary-color);
    border: 0px;
    color: var(--font-color);
    border-radius: 3px;
    margin-top: 5px;
}

textarea {    
    width: -webkit-fill-available !important;
    min-height: 500px;
    padding: 5px;
    background: var(--background-secondary-color);
    border: 0px;
    color: var(--font-color);
    border-radius: 3px;
    margin-top: 5px;
}

.article-item {
    padding: 10px;
    background: var(--background-secondary-color);
    margin: 5px 0;
    border-radius: var(--box-border-radius);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-item-info { 
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.additional-information {
    margin-right: 10px;
    max-width: 280px;
}

a:hover {
    transition: all var(--animation-speed) ease-in;
    color: var(--font-color-hover) !important;
}