<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='highlight/highlight.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Index: {% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar-main" id="navbar">
        <ul class="navbar-container">
            <li class="navbar-item navbar-item-logo">
                <a href="/">Index</a>
            </li>
            <li class="navbar-item">
                <a href="{{ url_for('view') }}">Обзор</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="navbar-item">
                <a href="{{ url_for('add_article') }}">Додати запис</a>
            </li>
            {% endif %}
            <li class="navbar-item">
                <a href="{{ url_for('rules') }}">Правила</a>
            </li>
            {% if current_user.is_admin %}
            <li class="navbar-item">
                <a href="#">Админ. панель</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-container">
            <li class="navbar-item more">≡</li>
            {% if not current_user.is_authenticated %}
                <li class="navbar-item">
                    <a href="{{ url_for('login')}}">Увійти</a>
                </li>
                <li class="navbar-item">
                    <a href="{{ url_for('registration')}}">Реєстрація</a>
                </li>
            {% else %}   
                <li class="navbar-item">
                    <a href="{{ current_user.link }}">{{ current_user.username }}</a>
                </li>
                <li class="navbar-item">
                    <a href="{{ url_for('logout')}}">Вийти</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <script>
        window.addEventListener("scroll", myFunction);
        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            if (window.pageYOffset > sticky) {
                navbar.classList.add("fixed-nav")
            } else {
                navbar.classList.remove("fixed-nav");
            }
        }
    </script>
    <div class="main-container">
        <div class="main-container-flex">
            {% block sidebar %}{% endblock %}   
            {% block content %}{% endblock %}
        </div>
        <!-- Реклама -->
        <div class="container-shadow footer">
            <h4>Реклама</h4>
        </div>
        <div class="container-shadow footer secondary-color">
            <span>Powered by Python | Flask | SQLite | SQLAlchemy</span>
            <br>
            <span class="litlle">Created by AziatkaVictor</span>
        </div>
    </div>
</body>

</html>