{% extends 'base.html' %}

{% block sidebar %}
<div class="additional-information" id="sticky-container">
    <div class="container-sticky container-info" id="sticky-content">
        <!-- Профиль -->
        {% if current_user.is_authenticated %}
        <div class="container-shadow">
            <div class="flex-display flex-space-between">
                <ul class="clear-ul">
                    <li class="nickname">
                        <a href="{{ current_user.link }}">{{ current_user.username }}</a>
                    </li>
                    <li class="secondary-color"><small>{{ current_user.group }}</small></li>
                </ul>
                <div class="avatar user-avatar" 
                {% if current_user.avatar %}
                    style="background-image: url({{ current_user.avatar }});"
                {% endif %}
                ></div>
            </div>
            <hr>
            <ul class="clear-ul">
                <li><span class="secondary-color">Репутация:</span> {{ current_user.reputation }}</li>
                <li><span class="secondary-color">Статьи:</span> {{ current_user.articles_count }}</li>
            </ul>
        </div>
        {% endif %}
        <!-- Последние статьи -->
        <div class="container-shadow">
            <h4>Последние статьи</h4>
            {% if globals.lastPages %}
                {% for page in globals.lastPages %}
                    <ul class="clear-ul">
                        <li class="article">
                            <a href="{{ url_for('detail_article', id=page.id) }}" class="article-link">{{ page.name }}</a><br>
                            <span class="secondary-color litlle">от <a href="#"class="article-link">{{ page.author.username }}</a></span>
                        </li>
                    </ul>
                {% endfor %}
            {% else %}
            <p>
                Нету статей(
            </p>
            {% endif %}
        </div>
        <!-- Реклама -->
        <div class="container-shadow">
            <h4>Реклама</h4>
        </div>
        <!-- Жалобы -->
        <div class="container-shadow">
            <h4>Жалобы</h4>
            <p>При нарушении правил вы можете доложить об этом администрации!</p>
        </div>
    </div>
    <script>
        window.addEventListener("scroll", content);
        var stickyContainer = document.getElementById("sticky-container");
        var stickyContent = document.getElementById("sticky-content");
        var sticky2 = stickyContainer.offsetTop;
        function content() {
            if (window.pageYOffset > sticky2) {
                stickyContent.classList.add("sticky-content-start")
            } else {
                stickyContent.classList.remove("sticky-content-start");
            }
        }
    </script>
</div>
{% endblock %}