<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='highlight/highlight.min.js')}}"></script>
    <script>hljs.highlightAll();</script>
    <title>Index: {% block title %}{% endblock %}</title>
</head>
    <body>
        <nav class="navbar-main">
            <ul class="navbar-container">
                <li class="navbar-item navbar-item-logo">
                    <a href="/">Index</a>
                </li>
                <li class="navbar-item">
                    <a href="#">Обзор</a>
                </li>
                <li class="navbar-item">
                    <a href="#">Активность</a>
                </li>
                <li class="navbar-item">
                    <a href="#">Тех. поддержка</a>
                </li>
                <li class="navbar-item">
                    <a href="#">Админ</a>
                </li>
            </ul>
            <ul class="navbar-container">
                <li class="navbar-item">
                    <a href="#">Войти</a>
                </li>
                <li class="navbar-item">
                    <a href="#">Регистрация</a>
                </li>
            </ul>
        </nav>
        <div class="main-container">
            <div class="main-container-flex">
                <div class="additional-information">
                    <div class="container-sticky container-info">
                        <div class="container-shadow">
                            <div class="flex-display flex-space-between">
                                <ul class="clear-ul">
                                    <li class="nickname">Никнейм</li>
                                    <li class="secondary-color"><small>Администратор</small></li>
                                </ul>
                                <img class="avatar" src="https://www.w3schools.com/howto/img_avatar.png">
                            </div>
                            <hr>
                            <ul class="clear-ul">
                                <li>Репутация: 0</li>
                                <li>Статьи: 0</li>
                                <li>Выйти</li>
                            </ul>
                        </div>
                        <div class="container-shadow">
                            <h4>Реклама</h4>
                        </div>
                        <div class="container-shadow">
                            <h4>Последние статьи</h4>
                            <ul class="clear-ul">
                                <li><a href="#" class="article-link">Интересная статья!</a></li>
                                <li><a href="#" class="article-link">Интересная статья!</a></li>
                                <li><a href="#" class="article-link">Интересная статья!</a></li>
                            </ul>
                        </div>
                        <div class="container-shadow">
                            <h4>Жалобы</h4>
                            <p>При нарушении правил вы можете доложить об этом администрации!</p>
                        </div>
                    </div>
                </div>
                {% block content %}{% endblock %}
            </div>  
            <div class="container-shadow footer secondary-color">
                <span>Powered by Python | Flask | PostgreSQL | SQLAlchemy</span>
                <br>
                <span class="litlle">Created by AziatkaVictor</span>
            </div>
        </div>
    </body>
</html>