{% extends "base_with_sidebar.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}

<div class="container-shadow">
    {{ url_for("profile", id=current_user.id)|tojson }}
    <div>
        <h1>Про нас</h1>
        <p>Мы - небольшой проект по созданию динамической энциклопедии. Данный сайт был создан как пример, для
            демонстрации возможностей.</p>
    </div>
    <div class="main-container-about-items">
        <div>
            <h2>Записей: {{globals.articleCount}}</h2>
            <p>С простой системой форматирования текста.</p>
        </div>
        <div>
            <h2>Категорий: {{globals.categoryCount}}</h2>
            <p>Которые можно настроить в административной панели.</p>
        </div>
        <div>
            <h2>Пользователей: {{globals.userCount}}</h2>
            <p>Со своими возможностями, обязанностями и репутацией.</p>
        </div>
    </div>
    <div>
        <h1>Кастомизация</h1>
        <p>С помощью переменных в CSS, клиенту будет куда проще подстроить сайт под свою цветовую гамму.</p>
        <pre><code class="language-css">/* Font colors */
--font-color: #000000;
--font-invert-color: #dfdfdf;
--font-secondary-color: #8d8d8d;
--font-color-hover: #a9d0ff;

/* Background colors */
--background-color: #ffffff;
--background-invert-color: #252525;
--background-secondary-color: #90c3e0;

/* Effects colors */
--shadows-color: #00000073;
--box-border-radius: 3px;
--animation-speed: 0.25s;</code></pre>
        <p>И тому подобное, специально для клиентов была написана документация, чтобы ответить на вопросы по
            редактированию функционала.</p>
    </div>
    <div>
        <h1>Динамическая верстка</h1>
        <p>Верстка сайта уже готова для различных устройств со своими соотношением сторон экрана и размеров. На данный момент есть 3 версии:</p>
        <ul>
            <li>Версия для ПК</li>
            <li>Версия для Планшетов</li>
            <li>Версия для Смартфонов</li>
        </ul>  
    </div>
</div>
{% endblock %}

