{% extends "base_with_sidebar.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}

<div class="container-shadow full">
    <div>
        <h1>Про нас</h1>
        <p>Ми – невеликий проект зі створення динамічної енциклопедії. Цей сайт був створений як приклад, для
            демонстрації можливостей.</p>
    </div>
    <div class="main-container-about-items">
        <div>
            <h2>Записів: {{globals.articleCount}}</h2>
            <p>З простою системою форматування тексту.</p>
        </div>
        <div>
            <h2>Категорій: {{globals.categoryCount}}</h2>
            <p>Котрі можна настроїти в адміністративній панелі.</p>
        </div>
        <div>
            <h2>Користувачів: {{globals.userCount}}</h2>
            <p>Зі своїми можливостями, обов'язками та репутацією.</p>
        </div>
    </div>
    <div>
        <h1>Кастомізація</h1>
        <p>За допомогою змінних у CSS, клієнту буде простіше підлаштувати сайт під свою кольорову гаму.</p>
        <pre><code class="language-css">/* Font colors */
--font-color: #000000;
--font-invert-color: #dfdfdf;
--font-secondary-color: #8d8d8d;
--font-color-hover: #a9d0ff;

/* Background colors */
--background-color: #ffffff;
--background-invert-color: #252525;
--background-secondary-color: #90c3e0;

/* Effects colors */
--shadows-color: #00000073;
--box-border-radius: 3px;
--animation-speed: 0.25s;</code></pre>
        <p>І тому подібне, спеціально для клієнтів була написана документація, щоб відповісти на запитання щодо
            редагування функціоналу.</p>
    </div>
    <div>
        <h1>Динамічна верстка</h1>
        <p>Верстка сайту вже готова для різних пристроїв зі своїм співвідношенням сторін екрану та розмірів. На даний
            момент є 3 версії:</p>
        <ul>
            <li>Версія для ПК</li>
            <li>Версія для Планшетів</li>
            <li>Версія для Смартфонів</li>
        </ul>
    </div>
</div>
{% endblock %}