{% extends "base_with_sidebar.html" %}
{% block title %}Обзор{% endblock %}
{% block content %}

<div class="full">
    <div class="container-shadow full" style="position: relative;">
        <h1>{{ article.name }}</h1>
        <div>
            <span class="secondary-color">Автор:</span> <a href="{{ url_for('profile', id=article.author.id)}}">{{
                article.author.username }}</a>
        </div>
        <div>
            <span class="secondary-color">Категорія:</span> {{ article.category.name }}
        </div>
        <div>
            <span class="secondary-color">Рейтинг запису:</span> {{ article.rating }} ({{ article.reactions_count }}
            оценок)
        </div>
        <div>
            <span class="secondary-color">Середня оцінка:</span> {{ article.avgRating }}
        </div>
        {% if article.reactionFrom(current_user) %}
        <div>
            <span class="secondary-color">Ваша оцінка:</span> {{
            article.reactionFrom(current_user).reaction_type.getWidget }}
        </div>
        {% endif %}

        <div style="margin-top: 10px">{{ article.content|safe }}</div>

        {% if article.canEdit() %}
        <div style="position: absolute; top: 15px; right: 15px; text-align: end; width: -webkit-fill-available;">
            <a href="{{ url_for('edit_article', id=article.id)}}">Редагувати</a> | <a
                href="{{ url_for('delete_article', id=article.id)}}">Видалити</a>
        </div>
        {% endif %}
        {% if article.canSetReactions() %}
        <p>
            {% for reaction in reactions %}
            <a
                href="{{ url_for('add_reaction_article', id=article.id, reaction_type=reaction.id)}}">{{reaction.getWidget}}</a>
            {% endfor %}
        </p>
        {% endif %}
    </div>
    {% if article.canSeeStatistic() %}
        <div class="container-shadow full" style="position: relative; margin-top: 10px;">
            <h2>Статистика запису</h2>
            <div class="flex-display">
                <p style="text-align: justify;">Тут описано всі деталі запису. Ця інформація видно лише автору та адміністраторам. Праворуч перебуває діаграма співвідношень типу оцінок. Вона демонструє, наскільки багато оцінок кожного типу було отримано. Знизу відображено інформацію про те, які оцінки були отримані в перші 30 днів після публікації. Дана інформація про те, скільки оцінок отримано, а так само, яка їх сумарна та середня величина.</p>
                <canvas id="reactions" style="max-width: 250px; max-height: 250px; margin-left: 20px; margin-right: -10px;"></canvas>
            </div>
            <h3>Інформація про реакції за перші 20 днів</h3>
            <canvas id="values" style="max-width: 700px; max-height: 350px; min-height: 300px; margin: auto;"></canvas>
            <script>

                var xDates = [{% for v in article.getDatesRange(20) %}'{{ v }}', {% endfor %}];
                var xReactions = [{% for k in article.reactionsInfo.keys() %}'{{ k }}', {% endfor %}];

                var yValues = {{ article.reactionValuesInRange(20) }};
                var yCount = {{ article.reactionCountInRange(20) }};
                var yAvg = {{ article.reactionAvgInRange(20) }};
                var yReactions = [{% for v in article.reactionsInfo.values() %}{{ v }}, {% endfor %}];

                new Chart("values", {
                    type: "bar",
                    data: {
                        labels: xDates,
                        datasets: [
                            {
                                label: 'Загальне значення',
                                data: yValues,
                                backgroundColor: "rgba(0,255,0,1)",
                            },
                            {
                                label: 'Кількість',
                                data: yCount,
                                backgroundColor: "rgba(0,255,255,1)",
                            },
                            {
                                label: 'Середнє значення',
                                data: yAvg,
                                backgroundColor: "rgba(255,0,255,1)",
                            }
                        ]
                    }
                });
                
                new Chart("reactions", {
                    type: "radar",
                    data: {
                        labels: xReactions,
                        datasets: [
                            {
                                label: 'Reactions',
                                data: yReactions,
                                backgroundColor: "rgba(0,255,125,0.5)",
                            },
                        ]
                    },
                    options: {
                        scales: {
                            r: {
                                suggestedMin: 0,
                                ticks: {
                                    stepSize: 1
                                }
                            }
                        },
                        responsive: true,
                        plugins: {
                            legend: {
                                display: false,
                            }
                        }
                    }
                });
            </script>
        </div>
    {% endif %}
</div>

{% endblock %}